{% extends "base.html" %}

{% block title %}Каталог книг — LitHub{% endblock %}

{% block content %}
  <div class="container">
    {% for row in book_pairs %}
      <div class="row gx-4 justify-content-center">
        {% for book in row %}
          <div class="col-md-6 col-lg-5 mb-4">
            <div class="card h-100 shadow-sm">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="{{ book.img_src | urlencode }}" class="card-img" alt="Обложка книги {{ book.title }}">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">
                      <small class="text-muted">Автор: {{ book.author }}</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
